---
layout: default
title: Podcast
---

<div class="posts">
  {% for episode in site.hackerspublics reversed %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ episode.url }}">
        {{ episode.title }}
      </a>
    </h1>
    {{ episode.content }}
    Téléchargez l'épisode <a href="https://hackerspublics.s3.fr-par.scw.cloud/{{ episode.file }}">en mp3</a> ou écoutez-le sur <a href="{{ episode.spotify_url }}">Spotify</a>, <a href="{{ episode.itunes_url }}">iTunes</a> ou votre <a href="{{ site.url }}/hackerspublics.rss">application de podcast préférée</a>.
    <span class="post-date">{% include date-fr.html date=episode.date %}</span>
    {% include share-buttons.html %}
  </div>
  {% endfor %}
</div>
