<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        <img  class="sidebar-image"
              src="{{ site.baseurl }}/public/img/hp_coeur.png"
              alt="Hackers publics"
              srcset="{{ site.baseurl }}/public/img/hp_coeur.png 250w,
                      {{ site.baseurl }}/public/img/hp_coeur-low-res.png 100w"
              sizes="(max-width: 768px) 80px,
                      150px">
        </img>
        <h1 href="{{ site.url }}">
          {{ site.title }}
        </h1>
        <!-- Burger-Icon -->
        <div class="b-container">
          <div class="b-menu">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
          </div>
        </div>
        <!-- Navigation -->
        <nav class="b-nav sidebar-nav">
            <a href="{{ site.baseurl }}/licence">licence</a>
            <a href="{{ site.url }}/hackerspublics.rss">flux RSS</a>
            <a href="https://twitter.com/HackersPublics">twitter</a>
            <a href="">contact</a>
        </nav>
      </div>
    </div>
  </div>
</div>
