<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        <a href="{{ site.url }}" class="sidebar-image">
          <img
                src="{{ site.baseurl }}/public/img/hp_coeur.png"
                alt="Hackers publics"
                srcset="{{ site.baseurl }}/public/img/hp_coeur.png 250w,
                        {{ site.baseurl }}/public/img/hp_coeur-low-res.png 100w"
                sizes="(max-width: 768px) 80px,
                        150px">
          </img>
        </a>
        <h1 class="sidebar-title">
          <a href="{{ site.url }}">
          {{ site.title }}
          </a>
        </h1>
        <!-- Burger-Icon -->
        <div class="b-container">
          <div class="b-menu">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
          </div>
        </div>
        <!-- Navigation -->
        <nav class="b-nav sidebar-nav">
          <p>
            <a href="{{ site.url }}/licence">licence/merci</a>
          </p>
          <p>
            <a href="{{ site.url }}/flux.rss">flux RSS</a>
          </p>
          <p>
            <a href="https://twitter.com/HackersPublics">twitter</a>
          </p>
          <p>
            <a href="">contact</a>
          </p>
        </nav>
      </div>
    </div>
  </div>
</div>
