---
layout: default
---

<div class="post">
  {% assign words = page.title | split: ':' %}
  <h1 class="post-title">{{ words[0] }}</h1>
  <blockquote>{{ words[1] }}</blockquote>

  {{ content }}

  Téléchargez l'épisode <a href="https://hackerspublics.s3.fr-par.scw.cloud/{{ page.file }}">en mp3</a> ou écoutez-le sur <a href="{{ page.spotify_url }}">Spotify</a>, <a href="{{ page.itunes_url }}">iTunes</a> ou votre <a href="{{ site.url }}/hackerspublics.rss">application de podcast préférée</a>.

  <span class="post-date">{% include date-fr.html date=page.date %}</span>
  {% include share-buttons.html %}
</div>
